{{#if this.isEditing}}
  <BsForm
    {{! This seems broken.. }}
    @formLayout='inline'
    @model={{this}}
    @onSubmit={{this.submit}}
    as |form|
  >
    <div class='input-group'>
      <form.element @invisibleLabel={{true}} @property='value' as |el|>
        <el.control {{did-insert this.focusInputField}} required />
      </form.element>
      <form.submitButton>Save</form.submitButton>
      {{! replace with form.element }}
      <BsButton @type='secondary' @onClick={{this.cancel}}>Cancel</BsButton>

    </div>
  </BsForm>
{{else}}
  <span
    class='inline-edit'
    role='button'
    {{on 'click' this.startEdit}}
  >{{yield}}</span>
{{/if}}