{{#if this.isEditing}}
  <BsForm
    @formLayout='inline'
    {{! This seems broken.. }}
    @model={{this}}
    @onSubmit={{this.submit}}
    as |form|
  >
    <form.element @invisibleLabel={{true}} @property='value' as |el|>
      <el.control required />
    </form.element>
    <form.submitButton>Save</form.submitButton>
    {{! replace with form.element }}
    <BsButton @type='secondary' @onClick={{this.cancel}}>Cancel</BsButton>
  </BsForm>
{{else}}
  <span
    class='inline-edit'
    role='button'
    {{on 'click' this.startEdit}}
  >{{yield}}</span>
{{/if}}