<div>
  <BsForm
    @formLayout='vertical'
    @model={{this}}
    @onSubmit={{this.submit}}
    as |form|
  >
    <form.element
      @controlType='input'
      @label='Initial query'
      @property='query'
    />
    <form.element
      @controlType='input'
      @label='Search Endpoint'
      @property='searchEndpoint'
    />
    <form.element
      @controlType='power-select-multiple'
      @label='Search Languages'
      @onChange={{this.languageSelectionChanged}}
      @property='selectedLanguages'
      @options={{this.languages}}
      @optionLabelPath='label'
      as |el|
    >
      <el.control @searchEnabled={{true}} />
    </form.element>
    <form.element
      @controlType='power-select-multiple'
      @label='Search vocabularies'
      @property='selectedVocabs'
      @options={{this.vocabularies}}
      @optionLabelPath='name'
      as |el|
    >
      <el.control @searchEnabled={{true}} />
    </form.element>
  </BsForm>
  <CopyButton @target='#webcomponent-snippet'>
    Copy To Clipboard
  </CopyButton>
  <pre id='webcomponent-snippet'><code>
    &lt;!DOCTYPE html&gt;
    &lt;html lang="en"&gt;
      &lt;head&gt;
        &lt;meta charset="UTF-8" /&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0" /&gt;
        &lt;meta http-equiv="X-UA-Compatible" content="ie=edge" /&gt;
        &lt;title&gt;Search&lt;/title&gt;
        &lt;script type="module" src="{{this.scriptSrc}}"&gt;&lt;/script&gt;
      &lt;/head&gt;
      &lt;body&gt;
        &lt;h1&gt;Search&lt;/h1&gt;
        &lt;vocab-search-bar{{#if this.query}}
          query="{{this.query}}"{{/if}}{{#if this.selectedVocabs.length}}
          source-vocabularies="{{this.aliasesOrUris this.selectedVocabs}}"{{/if}}{{#if this.searchEndpoint}}
          search-endpoint="{{this.searchEndpoint}}"{{/if}}{{#if
          this.selectedLanguages
        }}
          languages-string="{{this.selectedLanguageString}}"{{/if}}&gt;
        &lt;/vocab-search-bar&gt;
      &lt;/body&gt;
    &lt;/html&gt;
    </code></pre>
    <p>
      <strong>
        For other attributes see 
        <a href="https://github.com/vlizBE/vocabserver-webcomponent#attributesproperties" target="_blank" rel="noopener noreferrer">the readme of the webcomponent</a>
      </strong>
    </p>
  <h1>Searchbar preview</h1>
  <vocab-search-bar
  query="{{this.query}}"
  source-vocabularies="{{this.aliasesOrUris this.selectedVocabs}}"
  search-endpoint="{{this.searchEndpoint}}"
  languages-string="{{this.selectedLanguageString}}"
  >
  </vocab-search-bar>
</div>