{{page-title 'Vocabularies'}}
<h1>Vocabularies</h1>
<DataTable
  @content={{this.model}}
  @page={{this.page}}
  @size={{this.size}}
  @enableSizes={{false}}
  @noDataMessage="No vocabularies found"
  as |Table|
>

  <Table.menu as |Menu|>
    <Menu.general class="d-flex flex-row-reverse">
      <LinkTo @route="vocabularies.new">Add Vocabulary</LinkTo>
    </Menu.general>
  </Table.menu>
  <Table.content @class="table table-striped w-100" as |Content|>
    <Content.header>
      <ThSortable @field=":no-case:name" @currentSorting={{this.sort}} @label="Name" />
      <th>Actions</th>
      <th>Alias</th>
    </Content.header>
    <Content.body as |vocab|>
      {{#let (await (vocab-is-deleting vocab)) (await (vocab-is-delete-waiting vocab)) as | deleting waiting | }}
        <td>
          {{#if (or deleting waiting)}}
            {{vocab.name}}
          {{else}}
            <LinkTo @route='vocabulary' @model={{vocab.id}}>{{vocab.name}}</LinkTo>
          {{/if}}
        </td>
        <td>
          {{#if deleting}}
            {{#let (await (vocab-get-deleting-task vocab)) as | task |}}
            {{! `task` is null while we await }}
              {{#if task}}
                Deleting <TaskStatus @task={{task}} @onTaskFinished={{this.handleDeleteTaskFinished}} />
                <BsButton
                  @type='danger'
                  @onClick={{fn this.restartTask task}}>
                  Try Again
                </BsButton>
              {{/if}}
            {{/let}}
          {{else if waiting}}
            {{#let (await (vocab-get-delete-waiting-task vocab)) as | task |}}
            {{! `task` is null while we await }}
              {{#if task}}
                Waiting for search <TaskStatus @task={{task}} @onTaskFinished={{this.handleDeleteTaskFinished}} />
                <BsButton
                  @type='danger'
                  @onClick={{fn this.restartTask task}}>
                  Try Again
                </BsButton>
              {{/if}}
            {{/let}}
          {{else}}
            <ConfirmationButton
              @onConfirm={{fn this.deleteVocab vocab}}
              @confirmBtnTxt='Delete'
              @confirmBtnType='danger'
              @type='danger'
            >
              <:message>
                <p>Are you sure you want to delete vocabulary
                  <strong>{{vocab.name}}</strong>?<br><br>
                </p>
              </:message>
              <:buttonContent>
                <BsIcon @name='trash-fill' />
              </:buttonContent>
            </ConfirmationButton>
          {{/if}}
        </td>
        <td>
          {{#if (not (or deleting waiting))}}
            <VocabAlias @vocab={{vocab}}/>
          {{/if}}
        </td>
      {{/let}}
    </Content.body>
  </Table.content>
</DataTable>