{{page-title 'Vocabularies'}}
<h1>Vocabularies</h1>
<DataTable
  @content={{this.model}}
  @page={{this.page}}
  @size={{this.size}}
  @enableSizes={{false}}
  @noDataMessage="No vocabularies found"
  as |Table|
>

  <Table.menu as |Menu|>
    <Menu.general class="d-flex flex-row-reverse">
      <LinkTo @route="vocabularies.new">Add Vocabulary</LinkTo>
    </Menu.general>
  </Table.menu>
  <Table.content @class="table table-striped w-100" as |Content|>
    <Content.header>
      <ThSortable @field=":no-case:name" @currentSorting={{this.sort}} @label="Name" />
      <th>Actions</th>
      <th>Alias</th>
    </Content.header>
    <Content.body as |vocab|>
      <td>
        <LinkTo @route='vocabulary' @model={{vocab.id}}>{{vocab.name}}</LinkTo>
      </td>
      <td>
        <ConfirmationButton
          @onConfirm={{fn this.deleteVocab vocab}}
          @confirmBtnTxt='Delete'
          @confirmBtnType='danger'
          @type='danger'
        >
          <:message>
            <p>Are you sure you want to delete vocabulary
              <strong>{{vocab.name}}</strong>?<br><br>
              <i>Note that deleting large vocabularies may take a long time. Make sure to refresh the page manually.</i>
            </p>
          </:message>
          <:buttonContent>
            <BsIcon @name='trash-fill' />
          </:buttonContent>
        </ConfirmationButton>
      </td>
      <td>
        <VocabAlias @vocab={{vocab}}/>
      </td>
    </Content.body>
  </Table.content>
</DataTable>