{{page-title "Add vocabulary"}}
<h1>Add vocabulary</h1>
<BsForm
  @formLayout='horizontal'
  @onSubmit={{perform this.submit}}
  @model={{this}}
  as |form|
>
  <form.element @controlType='text' @label='Name' @property='vocabName' as |el|>
    <el.control placeholder='Name' required />
  </form.element>
  <form.element
    @controlType="power-select"
    @label="Primary Source type"
    @property="downloadType"
    @options={{this.types}}
    @optionLabelPath="prefLabel"
    as |el| >
    <el.control required />
  </form.element>
  {{#if this.downloadType}}
    <form.element
      @controlType='text'
      @label={{if this.isFileDump "Download URL" "Feed URL"}}
      @property='downloadUrl'
      as |el|
    >
      <el.control placeholder='URL' required />
    </form.element>
  {{/if}}
  {{#if this.isFileDump}}
    <form.element
      @controlType='power-select'
      @label='Preferred format'
      @options={{this.formatOptions}}
      @property='downloadFormat'
      @optionLabelPath='label'
      as |el|
    >
      <el.control  />
    </form.element>
  {{else if this.isLdes}}
    <form.element
      @controlType='checkbox'
      @label='Dereference members'
      @property='ldesDereference'
      as |el|
    >
      <el.control  />
    </form.element>
    <form.element
      @controlType='number'
      @label='Max requests per minute'
      @property='ldesMaxRequests'
      as |el|
    >
      <el.control  required />
    </form.element>
  {{/if}}
  <form.submitButton @type='success' disabled={{not this.downloadType}}>Add</form.submitButton>
</BsForm>
