{{page-title 'Search'}}
<h1 class='mb-4'>Search</h1>
<input
  id='search-field'
  class='mb-4'
  value={{this.qBuffer}}
  {{on 'input' (perform this.setQAndSearch)}}
/>

{{#if this.isLoadingModel}}
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
{{/if}}
{{#if this.model.length}}
  <table class='table'>
    <thead>
      <tr>
        <th>URI</th>
        <th>prefLabel</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model as |term|}}
        <tr>
          <td><a href={{term.uri}}>{{term.uri}}</a></td>
          <td>
            {{#each-in (from-entries (entries term.prefLabel)) as |lang val|}}
              {{lang}}: {{val}}
            {{/each-in}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No results</p>
{{/if}}
