<h1>Vocabularies</h1>
{{#if @model.length}}
  <BsButton @type='primary' @onClick={{set this 'showCreationModal' true}}>Add
    Vocabulary</BsButton>
  {{#if this.showCreationModal}}
    <AddVocab
      @onSubmit={{this.handleNewVocabulary}}
      @onClose={{set this 'showCreationModal' false}}
    />
  {{/if}}
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Remove</th>
        <th>Create download job</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |vocab|}}
        <tr>
          <td>
            <LinkTo
              @route='vocabulary'
              @model={{vocab.id}}
            >{{vocab.name}}</LinkTo>
          </td>
          <td>
            <BsButton
              @onClick={{(fn this.deleteVocab vocab)}}
              @outline={{true}}
            >🗑️</BsButton>
          </td>
          <td>
            <BsButton
              {{on 'click' (perform this.createAndRunDownloadJob vocab.url)}}
              @outline={{true}}
            >
              {{if this.createAndRunDownloadJob.isRunning '⏳' '⬇️'}}
            </BsButton>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h4 class='card-header mb-4'>No vocabularies found</h4>
  <BsButton @type='primary' @onClick={{set this 'showCreationModal' true}}>Add
    Vocabulary</BsButton>
  {{#if this.showCreationModal}}
    <AddVocab
      @onSubmit={{this.handleNewVocabulary}}
      @onClose={{set this 'showCreationModal' false}}
    />
  {{/if}}
{{/if}}