{{#if @model.length}}
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>UUID</th>
        <th>Remove</th>
        <th>Create download job</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |vocab|}}
        <tr>
          <th>
            <LinkTo
              @route='vocabulary'
              @model={{vocab.id}}
            >{{vocab.name}}</LinkTo>
          </th>
          <td>{{vocab.id}}</td>
          <td>
            <BsButton @onClick={{(fn this.deleteVocab vocab)}} @icon="glyphicon glyphicon-download">Remove</BsButton>
          </td>
          <td>
            <BsButton
              {{on 'click' (perform this.createAndRunDownloadJob vocab.url)}}
            >
              {{if this.createAndRunDownloadJob.isRunning '⏳' '⬇️'}}
            </BsButton>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No vocabularies were found</p>
{{/if}}