<h1>Vocabulary: {{this.model.name}}</h1>

<BsAccordion as |acc|>
  <acc.item @value="1" @title="{{if this.hasDump "✅" "❔"}} Download source dataset dump">
    <BsButton @onClick={{perform this.createAndRunDownloadJob this.model}}>Download dump</BsButton>
    <RecentJobs @jobType="vocab-download-job" @source={{this.model}} />
  </acc.item>
  <acc.item @value="2" @title="{{if this.hasMeta "✅" "❔"}} Analyze source data structure (generate metadata)">
    <BsButton @onClick={{perform this.createAndRunMetadataExtractionJob this.model}}>Analyze source</BsButton>
    <RecentJobs @jobType="metadata-extraction-job" @source={{this.model}} />
    {{#if this.hasMeta}}
      <DatasetMetadata @dataset={{this.model}}/>
    {{/if}}
  </acc.item>
  <acc.item @value="3" @title="{{if this.hasMapping "✅" "❔"}} Configure unification">
    <MappingShapeCreator
      @dataset={{this.model}}
      @nodeShape={{this.mappingShape}}
      @onSubmit={{this.handleNewMappingShape}}
    />
  </acc.item>
  <acc.item @value="4" @title="{{if this.lastUnification "✅" "❔"}} Run unification">
    <BsButton @onClick={{perform this.createAndRunUnifyVocabJob this.vocabulary}}>Run unification</BsButton>
    <RecentJobs @jobType="content-unification-job" @source={{this.vocabulary}} />
  </acc.item>
  <acc.item @value="5" @title="ℹ️ Configure Webcomponent">
    <WebcomponentSnippet
      @dataset={{this.model.uri}}
    />
  </acc.item>
</BsAccordion>