<h1>Vocabulary: {{this.model.name}}</h1>
<h2>Download Jobs</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>Start Unification</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.jobs as |job|}}
      <tr>
        <td>
          {{job.created}}
        </td>
        <td>
          {{job.status}}
        </td>
        <td>
          <BsButton
            @onClick={{perform this.createAndRunUnifyVocabJob job.results}}
            @outline={{true}}
          >
            {{if this.createAndRunUnifyVocabJob.isRunning '⏳' '↩️'}}
          </BsButton>
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>