{{#if @model.length}}
  <ul>
    {{#each @model as |vocab|}}
      <li>
        <a href={{vocab.url}}>{{vocab.name}}</a>
        <button
          type='button'
          {{on 'click' (fn this.deleteVocab vocab)}}
        >🗑️</button>
        <button
          type='button'
          {{on 'click' (perform this.createAndRunDownloadJob vocab.url)}}
        >
          {{if
            this.createAndRunDownloadJob.isRunning
            '⏳'
            '⬇️'
          }}
        </button>{{vocab.id}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No vocabularies were found</p>
{{/if}}
<AddVocab />