<BsAccordion as |acc|>
  <acc.item @value="1" @title="{{if this.hasDump "✅" "🟥"}} Download source dataset dump">
    <BsButton @onClick={{perform this.createAndRunDownloadJob this.model}}>Download dump</BsButton>
  </acc.item>
  <acc.item @value="2" @title="{{if this.hasMeta "✅" "🟥"}} Analyze source data structure (generate metadata)">
    <BsButton @onClick={{perform this.createAndRunMetadataExtractionJob this.model}}>Analyze source</BsButton>
    {{#if this.hasMeta}}
    <h2>Classes</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>url</th>
            <th>amount</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model.classes as |classDataset|}}
            <tr>
              {{log classDataset}}
              <td>
                {{classDataset.class}}
              </td>
              <td>
                {{classDataset.entities}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <h2>Properties</h2>
      <table class='table'>
        <thead>
          <tr>
            <th>url</th>
            <th>amount</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.model.properties as |propertyDataset|}}
            <tr>
              <td>
                {{propertyDataset.property}}
              </td>
              <td>
                {{propertyDataset.entities}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </acc.item>
  <acc.item @value="3" @title="{{if this.hasMapping "✅" "🟥"}} Configure unification">
    <MappingShapeCreator
      @dataset={{this.model}}
      @nodeShape={{this.mappingShape}}
      @onSubmit={{this.handleNewMappingShape}}
    />
  </acc.item>
  <acc.item @value="4" @title="{{if false "✅" "🟥"}} Run unification">
    <BsButton @onClick={{perform this.createAndRunUnifyVocabJob this.vocabulary}}>Run unification</BsButton>
  </acc.item>
</BsAccordion>