<h1>Vocabularies</h1>
<BsButton @type='primary' @onClick={{set this 'showCreationModal' true}}>Add
  Vocabulary</BsButton>
{{#if this.showCreationModal}}
  <AddVocab
    @onSubmit={{this.handleNewVocabulary}}
    @onClose={{set this 'showCreationModal' false}}
  />
{{/if}}
{{#if @model.length}}
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |vocab|}}
        <tr>
          <td>
            <LinkTo
              @route='vocabulary-mapping-wizard'
              @model={{vocab.id}}
            >{{vocab.name}}</LinkTo>
          </td>
          <td>
            <ConfirmationButton
              @onConfirm={{fn this.deleteVocab vocab}}
              @text='Are you sure you want to delete the vocabulary?'
              @confirmBtnTxt='Delete'
              @confirmBtnType='danger'
              @buttonTxt='ðŸ—‘ï¸'
            />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <h4 class='card-header mb-4'>No vocabularies found</h4>
{{/if}}